* {
	font-family: Arial;
}

.length-song-wrap {
	display: flex;
}

/********** 
Nav Styles
**********/

nav {
	background-color: #FFB4B0;
	list-style: none;
	display: flex;
	border: 2px solid black;
	padding: 1em;
	width: 97%;
}

nav li {
	padding-right: .3em;
	padding-left: .3em;
	font-size: .9em;
}

nav li:nth-child(1), nav li:nth-child(2) {
	border-right: .15em solid black;
}

/********** 
Song Options
**********/

.songOptions {
	background-color: #4DD7FA;
	border: 2px solid black;
	width: 25%;
	padding: 10px;
	margin-top: 1em;

}

.musicArtistWrap, .albumWrap, .genreWrap {
	margin-top: 1em;
	margin-bottom: 1em;
}


.select-button {
	display: block;
	margin-top: .6em;
	width: 90%;
	height: 2em;
	font-size: .8em;
}


input[type="range"] {
	margin-top: .8em;
}


.genreWrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.genre {
	width: 100%%;
	justify-content: center;
	margin-right: 100px;
	margin-bottom: .6em;
}

ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0;
}

.genreInput {
	list-style: none;
	width: 50%; 
	padding-top: .5em;
}

.button-wrap input {
	margin-left: 25%;
	width: 50%;
	margin-top: 1em;

}

/********** 
Song List
**********/

.songWrapper {
	background-color: #FEFAC0;
	width: 72%;
	border: 2px solid black;
	margin-left: 1%;
	margin-top: 1em;
	padding-bottom: 2em;
}

.songName {
	color: #785616
}

.song-info {
	margin-left: 1.5em;
}

h2 {
	font-weight: 400;
}

.song-info span:nth-child(3) {
	border-left: .12em solid black;
	border-right: .12em solid black;
	padding-right: 15px;
	padding-left: 15px;
}

.song-info span:nth-child(4){
	padding-right: 15px;
	padding-left: 15px;
}

.song-info span:nth-child(2) {
	padding-right: 15px;
}